:root {
  --theme-color: #7f63ff;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f6f2;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8f9fc;
  color: #222;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 1.2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color:  var(--theme-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color:  var(--theme-color);
  font-weight: 500;
  transition: 0.3s;
}

.contact-btn {
  background:  var(--theme-color);
  color: white !important;
  padding: 10px 18px;
  border-radius: 6px;
}

/* About Section */
.about-section {
  padding: 60px 20px;
  background: #f3f5f0;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--theme-color);
}

/* Skills Section */
.skills-section {
  padding: 60px 20px;
  background: #f4f6f2;
}
.skills-section h2 {
  color: var(--theme-color);
  text-align: center;
  margin-bottom: 2rem;
}
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.skill-card {
  background: #fff;
  border-left: 5px solid var(--theme-color);
  padding: 20px;
  flex: 1 1 300px;
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
}
.skill-card h3 {
  color: var(--theme-color);
}
.skill-card ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}

/* Contact Section */
.contact-section {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
}
.contact-section h2 {
  color: var(--theme-color);
}
.contact-section a {
  color: var(--theme-color);
  font-weight: bold;
  text-decoration: none;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}
.social-icons img {
  width: 36px;
  height: 36px;
  /* filter: grayscale(100%); */
  transition: all 0.3s ease;
}
.social-icons img:hover {
  /* filter: grayscale(0%); */
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--theme-color);
}
